.navbar-nav {
    justify-content: flex-start !important;
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
}

.navbar-nav div[data-i18n] {
    
    font-size: 12px; /* Taille uniforme */
    max-width: 60px; /* Largeur maximale */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute "..." pour les textes longs */
    text-align: center; /* Centrer les textes */
  }

.product-card {
    background: #f8f9fa;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}
.action-menu {
  display: none !important;;
  align-items: center !important;;
  gap: 10px !important;;
}
.table th {
    white-space: nowrap;
}
.table th {
    white-space: nowrap;
    vertical-align: top;
}
.input-group-text {
    background-color: transparent;
}
.fas.fa-sort {
    cursor: pointer;
    color: #6c757d;
}
.input-group-text {
    background-color: transparent;
}
    .table th {
        white-space: nowrap;
    }
    .btn-link {
        text-decoration: none;
    }
    .form-switch {
        display: flex;
        justify-content: center;
    }
.action-menu.visible {
  display: flex !important;;
}
.product-icon {
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product-details {
    font-size: 0.9rem;
}

.status-dots {
    display: flex;
    gap: 5px;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00b894;
}

.grid-view {
    display: none;
}

.grid-view.active {
    display: block;
}

.table-view.active {
    display: block;
}

.table-view {
    display: none;
}
